.groupName{
    text-align: center;
}
body{
    background-color: #fffae8;
}
/* .halImage{
    padding-left: 100px;
} */
.memberName{
    display: block;
    font-weight: bolder;
    font-size: large;
    width: 100%;
    margin-bottom: 30px;
}
.memberPage{
    width: 100%;
    display: inline-flex;
    margin-top: 50px;
    margin-left: 8%;
    /* justify-content: space-around; */
    gap: 50px;
}
.memberDescriptionSection{
    width: 500px;
}
.memberImage{
    width: 600px;
}

/* @media  (max-width: 940px){
    .memberPage{
        flex-direction: column;
        display: block;
    }
    .memberDescriptionSection{
        display: flex;
        max-width:350px;
    }
} */
@media (max-width: 940px) {
    .memberPage {
        flex-direction: column;
        display: block;
    }
    .memberDescriptionSection {
        display: flex; /* Change this to block to stack the name and description */
        max-width: 350px;
        flex-direction: column;
    }
    .memberName {
        display: block; /* Ensures the name takes up its own line */
    }
}
