.groupName{
    text-align: center;
}
body{
    background-color: #f4f4f4;
}

.group_meetings_and_activities_header{
    text-align: center;
}
.schedule{
    text-align: center;
}


/* .halImage{
    padding-left: 100px;
} */
.memberName{
    display: block;
    font-weight: bolder;
    width: 100%;
    margin-bottom: 30px;
    font-size: 30px;
}
.mambersContainer{
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.memberPage {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    width: 80%;
    display: inline-flex; /* Ensure horizontal layout */
    align-items: center; /* Center vertically */
    margin: 50px auto; /* Horizontal centering with auto */
    gap: 50px;
    min-height: 80vh; /* Adjust based on content size */
}

.memberDescriptionSection{
    width: 500px;
    font-size: 25px;
}
.memberImage{
    border-radius: 10px;
    width: 600px;
    height: 100%;
}

/* @media  (max-width: 940px){
    .memberPage{
        flex-direction: column;
        display: block;
    }
    .memberDescriptionSection{
        display: flex;
        max-width:350px;
    }
} */
@media (max-width: 940px) {
    .memberPage {
        flex-direction: column;
        display: block;
    }
    .memberDescriptionSection {
        display: flex; /* Change this to block to stack the name and description */
        max-width: 350px;
        flex-direction: column;
    }
    .memberName {
        display: block; /* Ensures the name takes up its own line */
    }
    }

.schedule {
    max-width: 80%;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-bottom: 20px; ;
}
.agenda_and_schedule{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.day {
    background-color: #e9e9e9;
    padding: 10px;
    border-radius: 5px;
}
.day h2 {
    margin-top: 0;
    color: #444;
}
.meeting {
    background-color: #d4edda;
    margin: 5px 0;
    padding: 5px;
    border-radius: 3px;
}
.health-dept {
    background-color: #cce5ff;
}


.meeting_list {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    max-width: 600px;
}

.meeting_list li {
    background-color: #e9e9e9;
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 1.2em;
    color: #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.footer {
    height: 100vh; 
    
}










